@model Schoolmanage.Models.Sec___Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sec___Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class___sec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class___sec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_stregnth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_stregnth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Teacher)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Class_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
