@model IEnumerable<Schoolmanage.Models.Sec___Class>

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="Sec___Class">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class___sec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class_stregnth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class_Teacher)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class___sec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_stregnth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Teacher)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Class_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Class_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Class_Id })
            </td>
        </tr>
    }
<link href="~/Content/CSS/style.css" rel="stylesheet" />
    
</table>
